{% extends 'base.html.twig' %}

{% block content %}
<table>
    <tr>
        <th></th>
    </tr>
    <tr>
        <td>
            <p>These are the weekly picks provided by the Jupiter Broadcasting podcast, the Linux Action Show.</p>
            <p>This site includes a separate list for the Desktop App Picks, Spotlight Picks, and the Runs Linux Picks.</p>
            <hr />
            <p>Contributions are welcomed and encouraged.</p>
            <h3>How to Contribute</h3>
            <ul>
                <li>You'll need a GitHub Account</li>
                <li>Fork this repository to your account.</li>
                <li>Edit just ONE file, <strong>data.php</strong></li>
                <li>. . . finally, just submit a Pull Request</li>
            </ul>
            <p>Watch the video to know how to structure the updates. The process is actually very simple and straight-forward...you will need to edit these files but you don't need to know how to code in order to do it. The video explains everything you need to know.</p>
            <iframe width="560" height="315" src="//www.youtube.com/embed/DA0EDiNcwO4?rel=0" frameborder="0" allowfullscreen></iframe><br />
            Link: <a href="http://youtu.be/DA0EDiNcwO4">http://youtu.be/DA0EDiNcwO4</a>
            <h3>How to Keep your Forked Repo in Sync with the Master Repo</h3>
            <ul>
                <li>I have created a video to explain it because GitHub is kind of weird about how this is done.</li>
            </ul>
            <iframe width="560" height="315" src="//www.youtube.com/embed/C5WxrnRVmuY?rel=0" frameborder="0" allowfullscreen></iframe><br />
            Link: <a href="http://youtu.be/C5WxrnRVmuY">http://youtu.be/C5WxrnRVmuY</a>
        </td>
    </tr>
</table>
{% endblock %}